<h1>Browse Bestsellers</h1>

<!-- OLD SCHOOL SIDEBAR WITH OPTIONS -->
<!-- <div class="col-md-2">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li ng-click="model.getDataFor('Hardcover Fiction')"><a href="">Hardcover Fiction</a></li>
            <li ng-click="model.getDataFor('Hardcover Nonfiction')"><a href="">Hardcover Nonfiction</a></li>
            <li ng-click="model.getDataFor('Trade Fiction Paperback')"><a href="">Trade Fiction Paperback</a></li>
            <li ng-click="model.getDataFor('Mass Market Paperback')"><a href="">Mass Market Paperback</a></li>
            <li ng-click="model.getDataFor('Paperback Nonfiction')"><a href="">Paperback Nonfiction</a></li>
        </ul>
    </nav>
</div> -->

    <div class="col-md-4 col-md-offset-4">
        <select ng-model="model.selectedCategory" ng-options="category for category in model.categories" class="dropdown-toggle ">
            <option value="">-- choose category --</option>
        </select>
        <button ng-click="model.getDataFor(model.selectedCategory)">Get BestSellers!</button>
    </div>

    <table class="table">
        <tr>
            <td>Book</td>
            <td>Name</td>
            <td>Author</td>
            <td>Description</td>
        </tr>
        <tr ng-repeat="book in model.bestSellers">
            <td><img ng-src="{{ model.getDetail(book, 'book_image') }}" alt=""> </td>
            <td> {{ model.getDetail(book, "title") }}  </td>
            <td> {{ model.getDetail(book, "author") }}  </td>
            <td> {{ model.getDetail(book, "description") }}</td>
        </tr>
    </table>